<div class="jumbotron">
  <h1 class="display-4">Starting Strength</h1>
  <p class="lead">A simple, proven program to get you strong!</p>
  <p><a href="https://startingstrength.com/get-started/programs">Learn More Here</a></p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-success btn-lg" routerLink="phase1" role="button">Phase 1</a>
  </p>
  <p class="lead">
    <a class="btn btn-warning btn-lg" routerLink="phase2" role="button">Phase 2</a>
  </p>
  <p class="lead">
    <a class="btn btn-danger btn-lg" routerLink="phase3" role="button">Phase 3</a>
  </p>
</div>
