<hr/>
<table class="table table-hover text-center">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Squat</th>
    <th scope="col">Press</th>
    <th scope="col">Bench Press</th>
    <th scope="col">Dead Lift</th>
    <th scope="col" *ngIf="phase === 'phase2' || phase === 'phase3'">Power Clean</th>
    <th scope="col" *ngIf="phase === 'phase3'">Pull Up</th>
    <th scope="col">Date</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let workout of workouts">
    <th scope="row">{{ workout.id }}</th>
    <td>{{ workout.squat }}</td>
    <td>{{ workout.press }}</td>
    <td>{{ workout.benchPress }}</td>
    <td>{{ workout.deadLift }}</td>
    <td *ngIf="phase === 'phase2' || phase === 'phase3'">{{ workout.powerClean }}</td>
    <td *ngIf="phase === 'phase3'">{{ workout.pullUp }}</td>
    <td>{{ workout.date }}</td>
    <td>
      <p>
        <button class="btn btn-primary">Edit</button>
        <button class="btn btn-danger" (click)="onClickDelete(workout)">Delete</button>
      </p>
    </td>
  </tr>
  </tbody>
</table>
