<div class="jumbotron">
  <h1 class="display-4">Your Programs</h1>
  <p class="lead">New programs are unlocked as you make progress. Keep it up!</p>
  <hr class="my-4">
  <div>
    <h4>Starting Strength</h4>
    <p>- The Starting Strength System makes use of the body's most basic movement patterns – barbell exercises that involve all the body’s muscle mass – utilized over the longest effective range of motion and loaded progressively, to force the adaptations necessary for increased strength. </p>
    <a class="btn btn-primary btn-lg" routerLink="starting-strength" role="button">Let's go!</a>
  </div>
  <hr/>
  <div>
    <h4>Another Program</h4>
    <p>- The Starting Strength System makes use of the body's most basic movement patterns – barbell exercises that involve all the body’s muscle mass – utilized over the longest effective range of motion and loaded progressively, to force the adaptations necessary for increased strength. </p>
    <a class="btn btn-success btn-lg" routerLink="programs" role="button">Do it!</a>
  </div>
  <hr/>
  <div>
    <h4>Another Program</h4>
    <p>- The Starting Strength System makes use of the body's most basic movement patterns – barbell exercises that involve all the body’s muscle mass – utilized over the longest effective range of motion and loaded progressively, to force the adaptations necessary for increased strength. </p>
    <a class="btn btn-danger btn-lg" routerLink="programs" role="button">Ready!</a>
  </div>
  <hr/>
  <div>
    <h4>Another Program</h4>
    <p>- The Starting Strength System makes use of the body's most basic movement patterns – barbell exercises that involve all the body’s muscle mass – utilized over the longest effective range of motion and loaded progressively, to force the adaptations necessary for increased strength. </p>
    <a class="btn btn-warning btn-lg" routerLink="programs" role="button">On it!</a>
  </div>
  <hr/>
  <div>
    <h4>Another Program</h4>
    <p>- The Starting Strength System makes use of the body's most basic movement patterns – barbell exercises that involve all the body’s muscle mass – utilized over the longest effective range of motion and loaded progressively, to force the adaptations necessary for increased strength. </p>
    <a class="btn btn-dark btn-lg" routerLink="programs" role="button">Got this!</a>
  </div>
</div>
