<div class="jumbotron">
  <h1 class="display-4">Your Programs</h1>
  <p class="lead">New programs are unlocked as you make progress. Keep it up!</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="starting-strength" role="button">Starting Strength</a>
    <a class="btn btn-success btn-lg" routerLink="programs" role="button">Another One</a>
    <a class="btn btn-danger btn-lg" routerLink="programs" role="button">One More</a>
    <a class="btn btn-warning btn-lg" routerLink="programs" role="button">Here's One</a>
    <a class="btn btn-dark btn-lg" routerLink="programs" role="button">Last One</a>
  </p>
</div>
